<div class="mailStorage">
    <p class="bold">Використано 0%</p>
    <p>Використовується 0 Гб з 10,1 Гб</p>
</div>
<div class="mailLastSession">
    <p>Остання діяльність в обліковому записі: 44 хв. тому</p>
    <a href="#">Подробиці</a>
</div>
<div class="termAndCondition">&copy; Google, 2012 - <a href="#">Умови та конфіденційність </a></div>